<section>
  <div class="row">
    <div class="span8 offset2">
      <form class="form-horizontal" name="linkForm">
        <fieldset>
          <legend>Add a new link</legend>
          <div class="control-group">
            <label class="control-label" for="url">Address</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon-share-alt"></i></span>
                <input class="span3" ng-model="form.url" type="text" required />
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      <button class="btn" ng-click="cancel()" ng-disabled="isCancelDisabled()">Cancel</button>
      <button class="btn btn-primary" ng-click="save()" ng-disabled="isSaveDisabled()">Add</button>
    </div>
  </div>
</section>