<section>
  <div class="row">
    <div class="span8 offset2">
      <form class="form-horizontal">
        <fieldset>
          <legend>Add a new link</legend>
          <div class="control-group">
            <label class="control-label" for="url">Address</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon-share-alt"></i></span>
                <input class="span3" id="url" type="text" />
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a href="#" class="btn btn-primary">Add</a>
    </div>
  </div>
</section>