<div class="container">
  <header>
    <div class="hero-unit">
      <h1>Länkar</h1>
      <p>Länkar is really nice links manager. Below is the list of all links stored in this <a href="https://github.com/CrEv/lankar">Länkar</a> instance.</p>
    </div>
  </header>

  <section id="links" class="links-list">
    <div class="row" ng-repeat="link in links | filter:query">
      <div class="span8">
        <div compile="link.desc"></div>
      </div>
      <div class="span4">
        <dl class="dl-horizontal">
          <dt><i class="icon-share-alt"></i></dt>
          <dd><a href="{{ link.url }}">{{ link.url }}</a></dd>
          <dt><i class="icon-bookmark"></i></dt>
          <dd><a href="../index.php/go/{{ link.hash }}">permalink</a></dd>
          <dt><i class="icon-tags"></i></dt>
          <dd>
            <span ng-repeat="label in link.labels"><span class="label"><i class="icon-tag icon-white"></i> {{ label }}</span> </span>
          </dd>
          <dt><i class="icon-calendar"></i></dt>
          <dd>{{ link.date }}</dd>
        </dl>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="span12">
        <ul class="pager">
          <li class="previous"><a href="#/links/{{ page + 1 }}">&larr; Older</a></li>
          <li class="next"><a href="#/links/{{ page - 1 }}">Newer &rarr;</a></li>
        </ul>
      </div>
    </div>
  </section>
  <footer class="footer hero-unit">
    <p>Powered by <a href="https://github.com/CrEv/lankar">Länkar</a></p>
  </footer>

</div>
