<!doctype html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Länkar</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lankar.css">
    <script src="angular-1.0.0.min.js"></script>
  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="https://github.com/CrEv/lankar">Länkar</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <a href="./index.html">Liens</a>
              </li>
              <li>
                <a href="./admin.html">Admin</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
			<header>
				<div class="hero-unit">
					<h1>Länkar</h1>
					<p>Länkar is really nice links manager. Below is the list of all links stored in this <a href="https://github.com/CrEv/lankar">Länkar</a> instance.</p>
				</div>
			</header>

			<section id="links" ng-init="links=[{para:['Ceci est simplement mon blog personnel. Je le met à jour de manière assez irrégulière, même si ça commence à redevenir suffisamment fréquent.', 'Pour info le premier billet date de septembre 2005'], url: 'http://www.winsos.net/~yves', labels: ['next', 'perso'], date: '15 juin 2012', hash: '-BymHg'}, {para: ['Mon compte twitter. Pas grand chose dessus, je m\'en sert pas mal pour suivre des gens. Disons que je m\'y met petit à petit.'], url: 'http://twitter.com/_crev_', labels: ['next', 'perso', 'twitter'], date: '15 juin 2012', hash:'1dIdrA'}]">
				<div class="row" ng-repeat="link in links">
					<div class="span8">
						<p ng-repeat="para in link.para">{{ para }}</p>
					</div>
					<div class="span4">
						<dl class="dl-horizontal">
							<dt><i class="icon-share-alt"></i></dt>
							<dd><a href="{{ link.url }}">{{ link.url }}</a></dd>
							<dt><i class="icon-bookmark"></i></dt>
							<dd><a href="../index.php/go/{{ link.hash }}">permalink</a></dd>
							<dt><i class="icon-tags"></i></dt>
							<dd>
								<span ng-repeat="label in link.labels"><span class="label"><i class="icon-tag icon-white"></i> {{ label }}</span> </span>
							</dd>
							<dt><i class="icon-calendar"></i></dt>
							<dd>{{ link.date }}</dd>
						</dl>
					</div>
				</div>
			</section>

      <footer class="footer">
        <p>Powered by <a href="https://github.com/CrEv/lankar">Länkar</a></p>
      </footer>

    </div>
  </body>
</html>
